:root {
	--background-color: #ffc0cb;
	--text-color: #000;
	--container-color: #f5f5f5;
	--display-dark-h1: none;
	--display-light-h1: block;
	--link-color: #1abde2;
	--hover-link-color: #f495bf;
	--subtitle-color: #898c8d;
}

[data-theme="dark"] {
	--background-color: #543b7a;
	--text-color: #f5f5f5;
	--container-color: #2f2f2f;
	--display-dark-h1: block;
	--display-light-h1: none;
	--link-color: #ffc2f5;
	--hover-link-color: #b584e2;
	--subtitle-color: #fff5c2;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: monospace;
	font-size: large;
	margin-top: 20px;
}

.links-nav {
	text-align: center;
	margin-top: 20px;
	font-size: 40px;
}

.toggle-btn {
	margin-left: auto;
	margin-right: 20%;
	height: 25px;
	width: 50px;
	background: #2f2f2f;
	border-radius: 20px;
	padding: 2px;
	transition: all 200ms ease-in-out;
}

.toggle-btn.active {
	background: #f5f5f5;
}

.active > .inner-circle {
	margin-left: 26px;
	background: #ffb0bd;
}

.inner-circle {
	height: 20px;
	width: 20px;
	background-color: #c58ef8;
	border-radius: 20px;
	transition: all 200ms ease-in-out;
}

.container {
	border: solid 1px black;
	margin: auto;
	margin-top: 20px;
	padding: 20px;
	max-width: 60%;
	background-color: var(--container-color);
}

.light-h1 {
	display: var(--display-light-h1);
}

.dark-h1 {
	display: var(--display-dark-h1);
}

nav,a {
	color: var(--link-color);
}

a:hover {
	color: var(--hover-link-color);
}

.subtitle {
	color: var(--subtitle-color);
	font-size: 15px;
	font-weight: lighter;
}

.project-items {
	margin-top: 200px;
}

.item {
	text-align: center;
	height: 350px;
	width: 400px;
}

footer {
	position: bottom relative;
	text-align: center;
}
