:root {
	--background-color: #ffc0cb;
	--text-color: #000;
}

[data-theme="dark"] {
	--background-color: #60417a;
	--text-color: #whitesmoke;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: monospace;
	font-size: large;
	margin: 18px;
}

header {
	border: solid 1px black;
	background-color: whitesmoke;
	padding-left: 18px;
}

.container {
	border: solid 1px black;
	margin-top: 20px;
	padding: 0px 18px 0px 18px;
	background-color: whitesmoke;
}

.grid-container {
	display: grid;
}

.grid-item {
	border:solid 1px;

}


nav,
a {
	color: #2dc5e7;
}

a:hover {
    color: #F495BF;
}

span {
	color: #898c8d;
    font-size: 20px;
    font-weight: lighter;
}

footer {
	position: bottom relative;
}
